* {
  padding: 0;
  margin: 0;
  body {
    overflow-x: hidden;
    .card {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 60px auto;
      width: 80%;

      .elbow {
        position: absolute;
        top: 15px;
        left: 250px;
        img {
          width: 70%;
        }
      }
      .line1 {
        width: 300px;
        height: 400px;
        background: #e3e2e2;
        box-shadow: 25px 26px 6px rgba(0, 0, 0, 0.25);
        border-radius: 14px;

        img {
          width: 70%;
          border-radius: 7px;
          margin: 40px auto;
          display: flex;
        }

        p {
          text-align: justify;
          max-width: 70%;
          display: flex;
          margin: auto;
        }
      }
    }
    .elbow2 {
      position: absolute;
      bottom: 120px;
      right: 220px;
    }
    .personRpl {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 120px auto;
      max-width: 80%;

      img {
        width: 20%;
        margin-bottom: 80px;
      }

      p {
        max-width: 80%;
        padding: 20px 0;
        text-align: justify;
        border-bottom: 2px solid black;
      }
    }
    .judulGuru {
      max-width: 15%;
      padding: 20px 0;
      margin: -120px auto;
      text-align: center;
      border-bottom: 3px solid #aeaeae;
    }
    .profilGuru {
      display: flex;
      justify-content: space-evenly;
      margin: 190px auto;
      width: 90%;
      .fotoProfil {
        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          &.line {
            width: 12px;
            height: 100px;
            margin-top: 20px;
          }
        }
        p {
          text-align: center;
          line-height: 60px;
          font-size: 20px;
        }
      }
    }
    .rplWork {
      position: absolute;
      top: 1252px;
      width: 792px;
      height: 792px;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
